
body {
	background: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	text-align: center;
	clear: both;
}
h1, li, h2 {
	color: red;
}
a, p {
	color: white
}
header {
	background: black;
	color: white;
	padding: 15px 15px 0 15px;
}
header h1 {
	color: white;
	margin: 0;
	
}
.search {
	text-align: right;
	padding: 10px 0 0 0;
	border-radius: 5px;
	clear: both;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	background: red;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 1%;
}
nav ul li a {
	color: white;
}
.row:after {
	clear: both; content: ""; display:table;
}
.register {
	text-align: right;
	padding: 5px 5px;
	border-radius: 5px;
}
footer {

}